# Vim and Emacs autosave/backup/swap files
.*
*.orig
*~
\#*#

# Build products
followme.bin
followme.s19
followme.wav
followme.dsk
followme.ccc
followme.2k
followme.4k
followme.8k
followme.16k
followme.32k
